@page
@model Project.Pages.Quantity.CreateModel
@{
    ViewData["Title"] = "New Quantity";
}

<br>
<h2>New Quantity</h2>

@if (!string.IsNullOrEmpty(Model.ErrorMessage))
{
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>@Model.ErrorMessage</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

<form method="post">
    <div class="row mb-3">
        <label asp-for="Quantity.Material_id" class="col-sm-3 col-form-label">Material ID</label>
        <div class="col-sm-6">
            <input asp-for="Quantity.Material_id" class="form-control" />
            <span asp-validation-for="Quantity.Material_id" class="text-danger"></span>
        </div>
    </div>
    <div class="row mb-3">
        <label asp-for="Quantity.Date_received" class="col-sm-3 col-form-label">Date Received</label>
        <div class="col-sm-6">
            <input asp-for="Quantity.Date_received" class="form-control" />
            <span asp-validation-for="Quantity.Date_received" class="text-danger"></span>
        </div>
    </div>
    <div class="row mb-3">
        <label asp-for="Quantity.Remaining_quantity" class="col-sm-3 col-form-label">Remaining Quantity</label>
        <div class="col-sm-6">
            <input asp-for="Quantity.Remaining_quantity" class="form-control" />
            <span asp-validation-for="Quantity.Remaining_quantity" class="text-danger"></span>
        </div>
    </div>

    @if (!string.IsNullOrEmpty(Model.SuccessMessage))
    {
        <div class="row mb-3">
            <div class="col-sm-9">
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <strong>@Model.SuccessMessage</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            </div>
        </div>
    }

    <div class="row mb-3">
        <div class="offset-sm-3 col-sm-3 d-grid">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
        <div class="col-sm-3 d-grid">
            <a class="btn btn-outline-primary" href="/Quantity/Index" role="button">Cancel</a>
        </div>
    </div>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
